@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Oswald&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background: rgb(31, 124, 230);
}

/* Global */
a{
    text-decoration: none;
    color:rgb(255, 241, 134);
    transition: .6s;
}

a:hover {
    color: pink;
}



/* Heard at Work */
main {
    display: flex;
    flex-direction: column;
    background: rgb(31, 124, 230);
    color: #fff;
    height: 70vh;
    padding: 5rem 5rem;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    font-size: 4vh;
    font-weight: 50;
    font-family: 'Gochi Hand', cursive;
}

.toma,
.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    padding: 3.3rem 1rem;
    font-size: 12vw;
    font-weight: 50;
}

.text {
    font-size: 2rem;
}


.icon {
    color: white;
    background-color: aliceblue;
}

.btn  {
    background-color: rgb(238, 92, 72);
    color: yellow;
}

button {
    padding: 15px;
    border-radius: 8px;
    border: none;
    background: rgb(238, 92, 72);
    font-family: 'Gochi Hand', cursive;
    font-size: 1rem;
    line-height: 15px;
    cursor: pointer;
    transition: 200ms;
}

button:hover {
    transform: scale(1.1);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
    .quote {
      font-size: 2rem;
      padding: 50px;
    }
  }